/* Home Css  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
.navbar span {
    font-size: 2.5rem;
}
.main {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;
}
.main h1 {
    font-weight: 400;
}

.main_button button {
    padding: 20px 80px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s all;
}
.main_button button:hover {
    border-radius: 70px 20px;
}

.banner {
    text-align: center;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 1.9rem;
}
.act-btn{
    background-color: #f1f1f1;
}
.account {
    text-align: center;
    padding: 50px ;
    background-color: #001C30;
    max-width: 450px;
    margin: auto;
    margin-top: 40px;
    color: #DAFFFB;
    font-size: 20px;
    border-radius: 40px;
    margin-bottom: 20px;
}
